.hero{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.welcome-message{
    background-color: #1F1E23;
    font-size: 12px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #BFA45D;
    border-radius: 20px;
    max-width:  400px;
    width: 250px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.hero-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    justify-content: center;
}
.hero-heading{
    font-size: 85px;
    line-height: 1.3;
    margin-top: 10px;
    
}
.hero-description{
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-text);
    margin-top: 5px;
}
.hero-buttons{
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    
}
.hero-signup{
    width: 250px;
    height: 65px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-background);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 2.0s ease;
    
}
.hero-signup:hover{
    transform: translateY(6px);
}



.statistics{
    background-color: #0B1223 ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    height: 25vh;
}
.statistics-content{
    display: flex;
    gap: 200px;
}
.student-stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.student-stats h2{
    font-size: 50px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #C9963A;
}
.student-stats P{
    margin-top: -45px;
    font-size: 20px;
    color: #C9963A; 
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    /* width: 100%; */
    /* border: 1px solid yellow; */
}
.features-content{
    /* border: 1px solid red; */
    width: 70%;
}
.features h1{
    font-size: 50px;
    margin-top: -10px;
}

.features-card{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    margin-top: 20px;
    /* padding: 5px; */
    /* width: 100%;  */
}
.get-started-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
}
.getstarted-content{
    
    width: 50%;
}
.getstarted-content h1{
    font-size: 50px;
    margin-top: -10px;
}
.getstarted-content p{
font-size: 16px;
color: rgb(194, 191, 187);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}