.signup-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    /* height: 50vh; */
    /* padding: 20px; */
}

.signup-contents{
    width: 70%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    /* padding: 10px; */
    
    
}
.signup-details{
    text-align: center;
    padding: 15px;
    /* border-radius: 15px; */
}
.signup-details h1{
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
    font-size: 40px;
}
.signup-details p{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
    color: grey;
}