.signup-form{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
.signup-form 
.terms {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    margin-left: 25px;
}

.terms input{
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none;
    
}
.terms label{
    cursor: pointer;
    color: #64748b;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
    font-size: 15px;
}
.signup-form button{
    width: 80%;
    margin-left: 50px;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 30px;

    border: none;
    border-radius: 8px;

    background-color: #F69919;
    color: black;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 0.5s ease, transfrom 0.5s ease;
}

.signup-form button:hover{
    background-color: #f5a93f;
}
.signup-form button:hover{
    transform: scale(0.99);
}